@font-face {
    font-family: 'Circular';
    src: url('circular-light.woff2') format('woff2'), url('circular-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('circular-book.woff2') format('woff2'), url('circular-book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('circular-bookitalic-webfont.woff2') format('woff2'), url('circular-bookitalic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('circular-medium-webfont.woff2') format('woff2'), url('circular-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('circular-mediumitalic-webfont.woff2') format('woff2'), url('circular-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('circular-bold-webfont.woff2') format('woff2'), url('circular-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('circular-bolditalic-webfont.woff2') format('woff2'), url('circular-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('circular-black.woff2') format('woff2'), url('circular-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('circular-blackitalic-webfont.woff2') format('woff2'), url('circular-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}