*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Circular, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.container {
    max-width: 1260px;
    margin: 0 auto 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
}